# Data
data/scans/
*.npy

# Generated outputs
outputs/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# PyCharm
.idea/

# LaTeX temporary files
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.bbl
report/*.blg